body {
    margin: 0;
    background: #CDCDCD;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wall {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 10%;
    height: 15%;
    background: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.character {
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: #148305;
    width: 5vh;
    height: 10vh;
}

.box {
    width: 60px;
    position: absolute;
    height: 70px;
    background-color: #000000;
    transition: top 2s linear;
}
